    <head profile="http://www.w3.org/2005/10/profile">
        {{ partial "meta.html" . }}
        <title>{{ if and (.Title) (.IsPage) }}{{ .Title }} &middot; {{ else }}{{ replace .Title "Blogs" "Notebook" }} &middot; {{ end }}{{ .Site.Title }}</title>
        <link rel="canonical" href="{{ .Permalink }}" />
        {{ if and (.RSSLink) (not .IsHome) }}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .RSSLink }}">
        {{ else }}
        <link rel="home" type="application/rss+xml" title="RSS" href="{{ .Site.Params.rss | absURL}}">
        {{ end }}
        <link rel="stylesheet" type='text/css' href="{{ .Site.BaseURL }}css/style.css"/>
        <link rel="icon" type="image/png" href="/favicon.png" />
    </head>