<div class="twelve columns">
  <div class="wrap-header">
    <div class="twelve columns boxer">
      <h1 class="blogtitle bottom box">
        <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
          <img src="/images/tbmonogram.svg"> <span>Trae</span> <span>Blain</span>
        </a>
      </h1>
      <div class="box bottom searchbox">
        <input type="text" placeholder="Search..." class="st-default-search-input st-search-input">
      </div>
      <h1 class="box bottom showmenu">
        <a href="#" id="showmenu">
          <i class="fa fa-bars"></i>
        </a>
      </h1>
    </div>
  </div>
</div>
