<nav class="nav mainmenu" id="mainmenu">
  <h3>Menu</h3>
  <a href="#" id="closemenu" class="close-button">
    <i class="fa fa-times"></i>
  </a>
  <a href="#" title="Search" class="st-search-show-outputs search-link">
    <i class="fa fa-search"></i><span>&nbsp;Search</span>
  </a>
  {{ range .Site.Params.Menu }}
    <a href="{{ .Link }}" title="{{ .Title }}">
      {{ .Pre | safeHTML }}<span>&nbsp;{{ .Name | safeHTML }}</span>
    </a>
  {{ end }}
  <a href="{{ .Site.Params.rss }}" title="RSS Feed"><i class="fa fa-rss"></i>&nbsp;RSS</a>
</nav>
<a href="#" class="mainmenu" id="sideshow">More</a>