{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div class="twelve columns">
  <nav class="pagination" role="navigation">
    <div class="pageinate">
    {{ if .Paginator.HasPrev }}
      <a href="{{.Paginator.Prev.URL}}">&laquo; Newer</a>
    {{ else }}
      &nbsp;
    {{ end }}
    </div>
    <div class="pageinate">
      <span>Page</span> {{.Paginator.PageNumber}} of {{.Paginator.TotalPages}}
    </div>
    <div class="pageinate">
      {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}"> Older &raquo;</a>
      {{ else }}
        &nbsp;
      {{ end }}
    </div>
  </nav>
</div>
{{ end }}