<script type="text/javascript" src="/js/highlight.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>

{{ if .Site.Params.segment }}
  {{ $segPage := "blog" }}
  {{ if .IsPage }}
    {{ $segPage := "post" }}
  {{ else if .IsHome }}
    {{ $segPage := "home" }}
  {{ else }}
    {{ $segPage := "blog" }}
  {{ end }}
  <script type="text/javascript">
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
      analytics.load("{{ .Site.Params.segment }}");
      analytics.page('{{ $segPage }}', {properties: {title: '{{ .Title }}'}});
      }}();
  </script>
{{ end }}

{{ if .Site.Params.disqus }}
  {{ if .IsPage }}
    <script type="text/javascript">
      var disqus_shortname = '{{ .Site.Params.disqus }}';
      var disqus_developer = 1;
      var disqus_url = 'http://blog.traeblain.com/2011/batman-equation';
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  {{ end }}
{{ end }}

{{ if not .IsHome }}
<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  _st('install','xxvxuPQWopgGHCpFwzi-','2.0.0');
</script>
{{ end }}
