<article class="twelve columns post">
  <header class="twelve columns {{ .Params.text_color }}" style="{{ if .Params.background }}background: url({{ .Params.background }}) no-repeat center center; background-color: transparent;{{end}}">
    <h1 class="headline {{ .Params.text_color }}">{{ .Title }}</h1>
    <time class="datetime {{ .Params.text_color }}" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Monday, January 2nd, 2006"}}</time>
  </header>
  <section class="twelve columns content">
    {{ .Content }}
  </section>

  <div class="twelve columns">
    <hr>
  </div>

{{ with $.Site.Params.disqus }}
  <div class="twelve columns">
    <div id="disqus_thread"></div>
  </div>
{{ end }}

</article>